@model MainCRM.Departement

@{
    ViewBag.Title = "Targets";
    ViewBag.SubTitle = "Add Departement";
}
@Styles.Render("~/Content/AdminLTE/plugins/select2")
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Add New Departement</h3>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm())
            {
                        @Html.AntiForgeryToken()

                        <div class="col-md-8">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label class="control-label">Departement Name</label>
                                @Html.EditorFor(model => model.DepartementName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DepartementName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label">Instance Name</label>
                                @Html.DropDownList("InstanceID", null, "Select Instance", htmlAttributes: new { @class = "form-control select2" })
                                @Html.ValidationMessageFor(model => model.InstanceID, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label">Key Contact Name</label>
                                @Html.EditorFor(model => model.KeyContactName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.KeyContactName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <label class="control-label">Key Contact Email</label>
                                @Html.EditorFor(model => model.KeyContactEmail, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.KeyContactEmail, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="control-label">Key Contact Phone</label>
                                @Html.EditorFor(model => model.KeyContactPhone, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.KeyContactPhone, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label class="control-label">Number of Student</label>
                                @Html.EditorFor(model => model.NumberOfStudent, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NumberOfStudent, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.ActionLink("Back to List", "Departements", "Departement")  |
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    }

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/Content/AdminLTE/plugins/select2/js");
    @Scripts.Render("~/Scripts/select2");
    @Scripts.Render("~/Scripts/datatable/menudept");
}
