@model MainCRM.Departement

@{
    ViewBag.Title = "Details";
    ViewBag.SubTitle = "Departement";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Details For @Html.DisplayFor(model => model.DepartementName)</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Departement Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DepartementName)
                        </dd>

                        <dt>
                            Manager Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KeyContactName)
                        </dd>

                        <dt>
                            Manager Email
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KeyContactEmail)
                        </dd>

                        <dt>
                            Manager Phone
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KeyContactPhone)
                        </dd>

                        <dt>
                            Number of Student
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumberOfStudent)
                        </dd>

                        <dt>
                            Instance Name
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Instance.InstanceName)
                        </dd>
                    </dl>
                    <div class="form-group">
                        @Html.ActionLink("Back to List", "Departements", "Departement") |
                        @Html.ActionLink("Edit", "Edit", new { id = Model.DepartementID })
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/Scripts/datatable")

}